<div class="row row-offcanvas">
	<div class="rows">
		<% Feed.all.each do |feed| %>
			<div class="col-6 col-sm-6 col-lg-4">
			<h2><%= feed.title %></h2>
			<p>
	 		<% for entry in FeedEntry.where(:base_url => feed.feed_url) %>
	   		<%= link_to h(entry.name), entry.url %><br/>
	  	<% end %>
	  	</p>
	  	</div>
	  <% end %>
	</div>
</div>