
<div class="row">
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-blue">
      <span>Boobies!</span>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-green">
      <span>Boobies!</span>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-pink">
      <span>Boobies!</span>
    </div>
  </div>    
</div>

<div class="row">
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-purple">
      <p ng-repeat="link in awesomeLinks" ng-animate=" 'animate' ">
        <span>{{link}}</span>
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-blue">
      <p ng-repeat="link in awesomeLinks">
        <span>{{link}}</span>
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-green">
      <p ng-repeat="link in awesomeLinks">
        <span>{{link}}</span>
      </p>
    </div>
  </div>    
</div>

<div class="row">
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-pink">
      <p ng-repeat="link in awesomeLinks" ng-animate=" 'animate' ">
        <span>{{link}}</span>
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-purple">
      <p ng-repeat="link in awesomeLinks">
        <span>{{link}}</span>
      </p>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 reveal-animation" >
    <div class="box-blue">
      <p ng-repeat="link in awesomeLinks">
        <span>{{link}}</span>
      </p>
    </div>
  </div>    
</div>